# Data Cleaning

This script cleans the data by dealing with missing values in the train and test data. Afterwards, I will perform encoding to make the data ready for training.

In [1]:
import pandas as pd
import numpy as np
#from sklearn.preprocessing import OneHotEncoder

## Import data

In [2]:
# load train and test
train = pd.read_pickle('../data/train.pickle')
test = pd.read_pickle('../data/test.pickle')

In [3]:
train.shape

(862, 827)

In [4]:
test.shape

(381, 826)

In [5]:
train.head(10)

,0,1,2,4,5,6,8,10,11,12,...,2156,2157,2158,2163,2164,2169,2170,2173,2174,y
0,P239476,Non-Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
1,P234427,Non-Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
2,P234429,Non-Essential,No,No,Yes,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
3,P234430,Non-Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
4,P239467,Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
5,P234437,?,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
6,P239438,Non-Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
7,P234444,Non-Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
8,P234445,Non-Essential,No,No,No,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,0
9,P234446,Non-Essential,No,No,Yes,No,No,No,No,No,...,0.0,No,0.0,No,0.0,No,0.0,No,0.0,7

## imputation

Replace ? with NaN and do imputation

In [6]:
# replace '?' by NaN
train.replace('?', np.nan, inplace = True)
test.replace('?', np.nan, inplace = True)

In [7]:
# define X and y
X_train = train.drop([0,'y'], axis=1)
y_train = train['y']
X_test = test.drop(0, axis=1)

In [8]:
# which column has missing values in X_train
missing_val_col_tr = X_train.columns[X_train.isna().any()]
missing_val_col_tr

Index([   1,  444,  674,  860, 1140, 1152, 1288, 1318, 1326, 1330, 1404, 1410,
       1464, 1476, 1486, 1502, 1608, 1626, 1708, 1846, 1856, 1890, 1994, 2024,
       2112, 2122],
      dtype='object')

In [9]:
# fill na with most frequent values
X_train = X_train.fillna(X_train.mode().iloc[0])

In [10]:
# check if there is still missing value
missing_val_col_tr = X_train.columns[X_train.isna().any()]
missing_val_col_tr

Index([], dtype='object')

In [11]:
# which column has missing values in X_test
missing_val_col_te = X_test.columns[X_test.isna().any()]
missing_val_col_te

Int64Index([   1,  444,  475,  485,  503,  557,  595,  739,  765,  769,  791,
             833,  909,  931,  939,  993,  997, 1049, 1053, 1145, 1151, 1182,
            1197, 1249, 1253, 1288, 1297, 1305, 1331, 1352, 1354, 1367, 1378,
            1423, 1449, 1459, 1465, 1483, 1502, 1533, 1547, 1559, 1575, 1608,
            1651, 1685, 1687, 1715, 1734, 1773, 1799, 1815, 1819, 1821, 1837,
            1857, 1891, 1908, 1947, 1971, 1993, 1996, 1997, 2037, 2087, 2103,
            2147, 2155, 2157],
           dtype='int64')

In [12]:
# fill na with most frequent values
X_test = X_test.fillna(X_test.mode().iloc[0])

In [13]:
# check if there is still missing value
missing_val_col_te = X_train.columns[X_train.isna().any()]
missing_val_col_te

Index([], dtype='object')

In [14]:
# check shape
X_train.shape

(862, 825)

In [15]:
X_test.shape

(381, 825)

## label encoding

In [16]:
# encode train
X_train.replace(('Yes','No'), (1,0), inplace = True)
X_train.replace(('Non-Essential', 'Essential', 'Ambiguous-Essential', 'Ambiguous-Non-Essential'), (0,3,2,1), inplace=True)
X_train.replace(('Genetic', 'Physical', 'Genetic-Physical'),(1,2,3), inplace=True)

In [17]:
#encode test
X_test.replace(('Yes','No'), (1,0), inplace = True)
X_test.replace(('Non-Essential', 'Essential', 'Ambiguous-Essential', 'Ambiguous-Non-Essential'), (0,3,2,1), inplace=True)
X_test.replace(('Genetic', 'Physical', 'Genetic-Physical'),(1,2,3), inplace=True)

try one-hot encoding on the column one

In [18]:
# # one hot encoder
# # object columns
# object_cols = [1]

# # Apply one-hot encoder to each column with categorical data
# OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
# OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]))
# OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test[object_cols]))

# # One-hot encoding removed index; put it back
# OH_cols_train.index = X_train.index
# OH_cols_test.index = X_test.index

# # Remove categorical columns (will replace with one-hot encoding)
# num_X_train = X_train.drop(object_cols, axis=1)
# num_X_test = X_test.drop(object_cols, axis=1)

# # Add one-hot encoded columns to numerical features
# X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
# X_test = pd.concat([num_X_test, OH_cols_test], axis=1)

In [19]:
X_train

,1,2,4,5,6,8,10,11,12,14,...,2155,2156,2157,2158,2163,2164,2169,2170,2173,2174
0,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,0,0,0,1,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,3,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
858,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
859,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
860,3,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
861,3,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

## deal with correlation between columns

In [20]:
def drop_highly_corr(df, threshold):
    # Create correlation matrix
    corr_matrix = df.astype(float).corr().abs()

    # Select upper triangle of correlation matrix
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

    # Find index of feature columns with correlation greater than 0.8
    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]
    
    # return the result
    return to_drop

In [21]:
# imputed_X_train, threshold is temporarily 0.8
to_drop = drop_highly_corr(X_train, 0.8)
#to_drop = drop_highly_corr(imputed_X_test, 0.8)

In [22]:
# count how many we dropped in X_train
print(len(to_drop), " columns will be dropped")
# # count how many we dropped in X_test
# print(len(to_drop_X_test), " columns will be dropped in X_test")

288  columns will be dropped

In [23]:
# we can drop the same columns in X_train and X_test
X_train = X_train.drop(X_train[to_drop], axis=1)
X_test = X_test.drop(X_test[to_drop], axis=1)

In [24]:
X_train.shape

(862, 537)

In [25]:
X_test.shape

(381, 537)

In [26]:
y_train.shape

(862,)

## save the data

In [27]:
# insert y into imputed_X_train
X_train['y'] = y_train

In [28]:
X_train.head()

,1,2,4,5,6,8,10,11,12,14,...,2133,2134,2147,2155,2156,2157,2163,2169,2173,y
0,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0.0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0.0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0.0,0,0,0.0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0.0,0,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0.0,0,0,0,0,0

In [29]:
# save the data
X_train.to_csv('../data/train_after_encode.csv', index=False)
X_test.to_csv('../data/test_after_encode.csv', index=False)

In [30]:
# save the protein id
test[0].to_csv('../data/protein_id.csv', index=False)